/* src/pages/Home.css */

.main-home-container {
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Space between columns */
  padding: 20px; /* Padding around the container */
}

.left-column,
.right-column {
  width: 15%; /* Set width for left and right columns */
  background-color: #1e1e1e;
  color: white; /* Text color */
  padding: 20px; /* Padding inside the columns */
  border-radius: 8px; /* Rounded corners */
  text-align: center; /* Center text and images */
  margin: 0 20px;
}

.home-content {
  width: 75%; /* Main content area width */
  padding: 20px; /* Padding inside the main content area */
  background-color: #1e1e1e; /* Slightly darker background for content */
  border-radius: 8px; /* Rounded corners */
}

.column-image {
  max-width: 100%; /* Make image responsive */
  height: auto; /* Maintain aspect ratio */
  border-radius: 5px; /* Optional: rounded corners for images */
  margin-bottom: 10px; /* Space between image and content */
}
.welcome-title {
  color: #ffffff;
  font-size: 2.5em;
  margin-bottom: 15px;
}

.description {
  color: #e0e0e0;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.view-rates-link {
  text-decoration: none; /* Remove underline from link */
}

.view-rates-button {
  background-color: #000000; /* Button color */
  color: white;
  padding: 12px 25px;
  border: 2px sold white;
  border-radius: 5px;
  font-size: 1.1em;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transition */
  margin: 40px 10px;
}

.view-rates-button:hover {
  background-color: #4b4b4b; /* Darker button color on hover */
  transform: translateY(-2px); /* Slight lift effect */
}
